language: python

sudo: required
services:
  - docker

env:
  - PYTHON=python2
  - PYTHON=python3

# Setup anaconda
install:
  #  Disabled since docker pull does not affect cache
  #  Fixed in Docker 1.13 with --cache-from
  #  - docker pull befelix/lyapunov-learning-private:${PYTHON} || true
  - docker build -f Dockerfile.${PYTHON} -t test-image .
  - docker ps -a

# Run tests
script:
  - docker run test-image flake8 safe_learning --exclude "test*.py,__init__.py" --ignore=E402,E731,W503 --show-source
  - docker run test-image flake8 safe_learning --filename="__init__.py,test*.py" --ignore=F,E402,W503 --show-source
  - docker run test-image pydocstyle safe_learning --convention=numpy
  - docker run test-image pytest --doctest-modules --cov --cov-fail-under=80 safe_learning
